<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/lamanjs.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{{ await $slots.main() }}}
</head>

<body>
    <div id="root" render="{{ $props.get('entry') }}">{{{ inject().render($props.get("entry")).html }}}</div>
    <script type="module" src="/src/entry-client.tsx"></script>
</body>

</html>